.App {
  background: transparent;
}

.btn-orange {
  background-color: #ae3910;
  border-color: #a5360f;
}

.btn-orange:hover {
  background-color: #ae3910;
  border-color: #a5360f;
  opacity: 0.8;
}

.btn-orange-active {
  opacity: 0.8;
}

.btn-green {
  background-color: #38b44a;
  border-color: #38b44a;
}
